<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">

        <h1>Courses</h1>

        <form class="form-group" action="/courseEdit" th:action="@{/courseEdit}" method="post">
            <input th:type="hidden" name="id" th:field="${courses.id}" />

            <div class="form-group">
                <label for="title">Course Name</label>
                <input type="text" class="form-control" id="title" th:field="${courses.name}" />
            </div>

            <div class="form-group">
                <label for="content">Instructor</label>
                <textarea class="form-control" id="instructor" th:field="${courses.instructor}"></textarea>
            </div>

            <div class="form-group">
                <label for="content">Assignment</label>
                <textarea class="form-control" id="assignment" th:field="${courses.assignment}"></textarea>
            </div>

            <div class="form-group">
                <label for="content">Description</label>
                <textarea class="form-control" id="content" th:field="${courses.description}"></textarea>
            </div>

            <div class="form-group">
                <label for="content">Assignment Due Date</label>
                <textarea class="form-control" id="date" th:field="${courses.dueDate}"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
            <a href="#" th:href="@{/}" class="btn btn-danger" role="button">Cancel</a>
        </form>
    </div>

</body>
</html>