<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
</head>
<body>

    <div class="container">

        <h1>Courses</h1>

        <p>
            <a href="/courseEdit" th:href="@{/courseEdit}">Create</a>
        </p>

        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Course Name</th>
                <th>Course Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="courses : ${courseList}">
                <td th:text="${course.id}"></td>
                <td th:text="${course.name}"></td>
                <td th:text="${course.description}"></td>
                <td>
                    <a href="/courseEdit/" th:href="@{/courseEdit/__${course.id}__}">Edit</a>
                    <a href="/courseDelete/" th:href="@{/courseDelete/__${course.id}__}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

</body>
</html>